#myVideo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1000000;
    object-fit: cover; 
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: inline-flex;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .ac .table-radio-btn{
        top: 46px;
    }
    #myVideo {
        width: 100%;
    }
}
@supports (object-fit: cover) and (-ms-ime-align:auto) {
    #myVideo{height:auto}
}
.main-sec{
    height: 100vh;
}
.owl-slider{
    background: rgba(0, 0, 0, 0.75);
    padding: 50px 0px;
    text-align: center;
}
.menu-title {
    color: #9C27B0;
    text-shadow: 0px 0px 5px #7B1FA2;
    display: inline-block;
    padding: 25px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}
.menu-title:hover{
    text-shadow: 0px 0px 5px #fff;
}
.logo2 {
    margin-left: 275px;
}
.logo2 img{
    width: 350px;
    opacity: .65;
}
.nav-menu {
    position: absolute;
    display: none;
}
.nav-menu ul{
    margin: 0px;
    padding: 0px;
}
.nav-menu ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu ul li a {
    display: block;
    padding: 15px;
    border-top: 3px solid #9C27B0;
    text-decoration: none;
    color: #9C27B0;
    text-shadow: 0px 0px 5px #7B1FA2;
    font-weight: 900;
    font-size: 16px;
    width: 150px;
}
.nav-menu ul li:last-child a{
    border-bottom: 3px solid #9C27B0;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #ffffff;
}
.nav-sec {
    position: fixed;
    z-index: 99999;
}
.radio img {
    width: 400px;
}
.bottom-title h2{
    text-align: center;
    color: #00d9ff;
    position: absolute;
    bottom: 25px;
    left: 175px;
    font-size: 52px;
    font-style: italic;
    font-weight: 100;
}
.bt h2{
    right: 175px;
}

a.years-name-res {
    padding: 2px 10px;

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );

    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #207ce5;
}
a.years-name-res:hover{
    text-decoration: none;
    
    background: rgba(80,109,226,1);
background: -moz-linear-gradient(top, rgba(80,109,226,1) 0%, rgba(40,67,220,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,109,226,1)), color-stop(100%, rgba(40,67,220,1)));
background: -webkit-linear-gradient(top, rgba(80,109,226,1) 0%, rgba(40,67,220,1) 100%);
background: -o-linear-gradient(top, rgba(80,109,226,1) 0%, rgba(40,67,220,1) 100%);
background: -ms-linear-gradient(top, rgba(80,109,226,1) 0%, rgba(40,67,220,1) 100%);
background: linear-gradient(to bottom, rgba(80,109,226,1) 0%, rgba(40,67,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#506de2', endColorstr='#2843dc', GradientType=0 );

    color: #fff;
    border: 1px solid #2843dc;
}



.radio-bg img.radio-img-bg {
    width: 400px;
    margin: 0 auto;
   }

   .table-radio-btn {
    position: absolute;
    top: 47px;
    width: 157px;
    left: 0;
    display: flex;
    right: 0;
    margin: 0px 388px;
   }
   
   .table-radio-btn tr{
    border: 0px !important;
   }
   .table-radio-btn td{
    border: 0px solid rgba(0, 193, 135, 0);
    text-align: center;
    padding: 0px 0px !important;
   }
   .table-radio-btn td img{
    width: 100%;
    padding: 2px;
   }
   .table-radio-btn td a:hover img{
    opacity: .5;
    cursor: pointer;
   }
   .table-radio-btn td a:focus img{
    opacity: 0 !important;
    cursor: pointer;
   }
   .opa img.radio-hover-btn{
    opacity: 0 !important;
    cursor: pointer;
   }
   .opa > img.radio-bar {
    opacity: 1 !important;
   }
   .table-radio-btn td a img.radio-bar {
    width: 10px !important;
    margin-bottom: 8px;
    opacity: 0;
   }
   .table-radio-btn td a:hover img.radio-bar {
    opacity: 1;
   }
   .table-radio-btn td a:focus img.radio-bar {
    opacity: 1 !important;
   }
   
   table.control-table tr td img.on-off-btn-common {
    width: 28px;
    margin: 11px;
   }
   
   .side table.control-table {
    margin-top: 4px;
    position: relative;
    top: -91px;
   }
   table.control-table tr td {
    padding: 0 !important;
    vertical-align: top;
    margin: 0 !important;
    text-align: center;
   }
   table.control-table tr{
    border: 0 !important;
   }
   
   .logo2.logo {
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }

   .radio-bg{
    width: 400px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: inherit;
    z-index: 999999;
    margin: 20px 250px;
   }
   .radio-bg img.radio-img-bg{
    border-radius: 6px;
    overflow: hidden;
   }
   .side .radio-bg{
    /* height: 467px; */
    width: 500px !important;
    margin: 0px auto !important;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: .5;
    top: 175px;
   }
   .side .radio-bg:hover{
    opacity: 1;
   }
   .side .radio-bg img.radio-img-bg{
    width: 500px !important;
    position: initial !important;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   }
   .side .table-radio-btn td a img.radio-bar {
    width: 12px !important;
    margin-bottom: 7px !important;
   }
   .side .table-radio-btn{
    position: relative;
    top: 2px;
    width: 200px;
    margin: 0 auto;
   }
   .home-banner{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   }
   .side{
    position: relative;
    z-index: 10;
    opacity: 1;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    /* width: 500px; */
    margin: 0 auto !important;
   }
   .side:hover{
    opacity: 1;
   }
   .side .slogans{
    font-size: 28px !important;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   }
   .years-body{
    position: -webkit-sticky;
    position: sticky;
    display: none;
    /* background: rgba(0, 0, 0, 0.5); */
    /* padding: 15px; */
    border-radius: 6px;
    top: 60px;
    right: 0;
    /* width: 500px; */
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: #e8e8e8;
    
   }
   a.years-name {
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 700;
    color: #fff;
    float: right;
   }
   .tab-sec{
    padding: 23px;
    position: absolute;
    top: 0px;
    z-index: 999;
    left: 10%;
    right: 10%;
   }
   .tab-sec .artis-box:hover{
    background: #000 !important;
    -webkit-box-shadow: 5px 15px 15px #0C0C0C;
            box-shadow: 5px 15px 15px #0C0C0C;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   }
   .tab-sec .artis-box{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   }
   
   .tab-sec .artis-box:nth-child(2){
    -webkit-transform: rotate(0deg) translateX(00px) translateY(0px);
        -ms-transform: rotate(0deg) translateX(00px) translateY(0px);
            transform: rotate(0deg) translateX(00px) translateY(0px);
   }
   .tab-sec .artis-box:nth-child(3){
    -webkit-transform: rotate(-15deg) translateX(-300px) translateY(175px);
        -ms-transform: rotate(-15deg) translateX(-300px) translateY(175px);
            transform: rotate(-15deg) translateX(-300px) translateY(175px);
   }
   .tab-sec .artis-box:nth-child(4){
    -webkit-transform: rotate(30deg) translateX(-50px) translateY(560px);
        -ms-transform: rotate(30deg) translateX(-50px) translateY(560px);
            transform: rotate(30deg) translateX(-50px) translateY(560px);
   }
   .tab-sec .artis-box:nth-child(5){
    -webkit-transform: rotate(0deg) translateX(0px) translateY(00px);
        -ms-transform: rotate(0deg) translateX(0px) translateY(00px);
            transform: rotate(0deg) translateX(0px) translateY(00px);
    float: right;
   }
   .tab-sec .artis-box:nth-child(6){
    -webkit-transform: rotate(15deg) translateX(300px) translateY(170px);
        -ms-transform: rotate(15deg) translateX(300px) translateY(170px);
            transform: rotate(15deg) translateX(300px) translateY(170px);
    float: right;
   }
   .tab-sec .artis-box:nth-child(7){
    -webkit-transform: rotate(-30deg) translateX(45px) translateY(550px);
        -ms-transform: rotate(-30deg) translateX(45px) translateY(550px);
            transform: rotate(-30deg) translateX(45px) translateY(550px);
    float: right;
   }
   
   .box-wrap{
    overflow: auto;
   }
   .box-wrap::-webkit-scrollbar {
    width: 3px;
   }
   
   .box-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
   }
   
   .box-wrap::-webkit-scrollbar-thumb {
   background-color: #333333;
   outline: 1px solid rgb(0, 0, 0);
   }
   .artist-title{
    /* text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
                 0 20px 20px rgba(0,0,0,.15); */
    margin: 0;
    padding-bottom: 10px;
    font-size: 28px;
   }
   
   .artis-box{
    width: 200px;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 6px;
    padding: 10px;
    float: left;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 5px #333;
            box-shadow: 1px 1px 5px #333;
    position: relative;
    opacity: .5;
   }
   
   .artis-box:hover{
    opacity: 1;
   }
   
   .artist-img {
    height: 175px;
    display: block;
    overflow: hidden;
   }
   
   .artis-box img{
    width: 100%;
    border-radius: 3px;
   }
   .artis-box a{
    text-decoration: none;
    color: #fff;
   }
   .artis-box a:hover{
    text-decoration: none;
    color: red;
   }
   
   .artis-box h3{
    font-size: 18px !important;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
   }
   .main-sec{
    min-height: 1000px !important;
   }
   .side img.v-btn {
    width: 50px;
    position: absolute;
    left: 446px;
    top: 308px;
    opacity: 0;
    cursor: pointer;
   }
   img.v-btn {
    position: absolute;
    left: 241px;
    top: 351px;
    opacity: 1;
   }
   /* img.v-btn:hover {
    opacity: 1;
   } */
   .side img.v-btn-lft {
    width: 50px;
    position: absolute;
    right: 444px;
    top: 308px;
    opacity: 0;
    cursor: pointer;
   }
   .side .big-title {
    margin: 0px;
    padding: 5px 0px;
    position: absolute;
    top: -145px;
    left: 172px;
    font-size: 20px;
   }
   /* img.v-btn-lft:hover{
    opacity: 1 !important;
   } */
   img.v-btn-lft {
    position: absolute;
    right: 238px;
    top: 351px;
    opacity: 1;
   }
   .h2s-b{
    -webkit-animation: h2s 10s infinite linear;
            animation: h2s 10s infinite linear;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
   }