
    /* 
    font-family: 'Aguafina Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Meddon', cursive;
    font-family: 'Molle', cursive;
    */
    
    @font-face {
        font-family: 'BellBottom';
        src: url('../font/era/Belbottom.ttf')  format('truetype');
        src: url('../font/era/Belbottom.woff')  format('woff');
    }
    
    @font-face {
        font-family: 'Dreamland';
        src: url('../font/era/dreamland.ttf')  format('truetype');
        src: url('../font/era/dreamland.woff') format("woff");
    }
    
    @font-face {
        font-family: 'Remachine';
        src: url('../font/era/RemachineScript.ttf')  format('truetype');
        src: url('../font/era/RemachineScript.woff')  format('woff');
    }
    
    @font-face {
        font-family: 'Cowboy';
        src: url('../font/era/Cowboy.ttf')  format('truetype');
        src: url('../font/era/Cowboy.woff')  format('woff');
    }
    
    @font-face {
        font-family: 'Xtreem';
        src: url('../font/era/XtreemMedium.ttf')  format('truetype');
        src: url('../font/era/XtreemMedium.woff')  format('woff');
    }

    .fifty-f h5{
        font-family: 'Remachine' !important;
        font-size: 80px !important;
    }

    .sixty-f h5{
        font-family: 'BellBottom' !important;
        font-size: 58px !important;
    }

    .seventy-f h5{
        font-family: 'Dreamland' !important;
        font-size: 42px !important;
    }

    .eighty-f h5{
        font-family: 'Xtreem' !important;
        font-size: 40px !important;
    }
    
    .ninty-f h5{
        font-family: 'Cowboy' !important;
        font-size: 38px !important;
    }

    body{
        background-size: cover !important;
        min-height: 100vh;
        width: 100%;
    }

    .back-btn {
        position: absolute;
        right: 0px;
        top: 90px;
        z-index: 25;
    }
    .back-btn a{
        background: rgba(0, 0, 0, 0.5);
        padding: 0 8px;
        font-size: 32px;
        display: block;
        color: #fff;
        border-radius: 10px 0 0 10px;
    }
    
    .back-btn a:hover{
        color: red;
    }

    .qt-titdeco-eq{
        text-align: center;
        color: #ffffff;
        font-size: 46px;
        font-weight: 900;
        margin-top: 100px;
        text-shadow: 2px 2px 3px #000;
        text-transform: capitalize;
    }
    .bd-example{
        margin-top: 25%;
    }
    .carousel-item a:hover{
        text-decoration: none;
    }
    .carousel-item a:hover h5{
        font-size: 46px;
        transition: all .3s ease;
    }
    .carousel-caption {
        position: relative;
        color: #fff;
        text-align: center;
        padding: 0 !important;
        left: 0;
    }
    .carousel-caption p{
        background: #000000;
        padding: 0px;
        color: #fff;
        font-size: 24px;
        font-family: initial;
    }
    .carousel-caption h5{
        transition: all .3s ease;
        padding: 0px;
        color: #fff;
        font-size: 46px;
        font-weight: 900;
        text-transform: capitalize;
        text-shadow: 3px 3px 3px #000;
    }
    
    .carousel-control-next {
        right: -60px;
    }
    .carousel-control-prev {
        left: -60px;
    }
    .carousel-control-next img{
        width: 40px;
    }
    .carousel-control-prev img{
        width: 40px;
    }
    .carousel-control-next, .carousel-control-prev {
        top: -25% !important;
    }
    /* .menu-title {
        padding: 50px 50px;
    } */
    @media (max-width: 991px){
        /* .menu-title {
            padding: 22px 10px !important;
            font-size: 28px !important;
        } */
        a#logo-container img {
            width: 80px !important;
        }
        .qt-titdeco-eq {
            text-align: right !important;
            font-size: 30px !important;
            margin: 20px 40px !important;
        }
        .bd-example {
            width: 80% !important;
            margin: 30% auto !important;
        }
        .back-btn {
            top: 13px;
            z-index: 25;
        }
    }

    @media (max-width: 575.98px){
        .menu-title {
            padding: 20px 80px !important;
        }
        .artist-img {
            height: 130px !important;
        }
        .artis-box h3 {
            font-size: 10px !important;
        }
    }
   
    .nav-menu ul li a {
        padding: 23px 8px !important;
        line-height: 30px !important;
    }
    span.search {
        padding: 18px !important;
    }
    .src-field {
        height: 32px !important;
    }

  