
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.dropDownMenu,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
nav ul a,
nav .qw-nav-desktop ul a {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.container {
    max-width: 1280px !important;
}

/* video {
 position: fixed;
 top: 50%;
 left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 transform: translateX(-50%) translateY(-50%);
} */

/* .home-banner {
    margin-left: 250px;
}
.side.home-banner {
    margin-left: 0;
} */

.video-sec{
 width: 100%;
 height: 450px;
}

.big-logo{
 width: 300px;
 border-radius: 3px;
 margin-bottom: 25px;
}
.side .big-logo{
 width: 200px;
 opacity: 0;
}

.big-title{
 margin: 0px;
 padding: 5px 0px;
}

.radio-bg img.radio-img-bg {
    width: 700px;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .ac .table-radio-btn{
        top: 56px;
    }
    .carousel-item {
        height: 420px;
    }
    .carousel-caption h5 {
        font-size: 36px !important;
    }
    .carousel-caption{
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
    }
    .nav-sec{
        /* width: 60px; */
    }
}
.table-radio-btn {
    position: absolute;
    top: 396px;
    width: 270px;
    left: 0;
    display: flex;
    right: 0;
    margin: 0 auto;
}

.table-radio-btn tr{
 border: 0px !important;
}
.table-radio-btn td{
 border: 0px solid rgba(0, 193, 135, 0);
 text-align: center;
 padding: 0px 0px !important;
}
.table-radio-btn td img{
 width: 100%;
 padding: 2px;
}
.table-radio-btn td a:hover img{
 opacity: .1;
 cursor: pointer;
}
.table-radio-btn td a:focus img{
 opacity: 0 !important;
 cursor: pointer;
}
.opa img.radio-hover-btn{
 opacity: 0 !important;
 cursor: pointer;
}
.opa > img.radio-bar {
 opacity: 1 !important;
}
.table-radio-btn td a img.radio-bar {
    width: 15px !important;
    margin-bottom: 12px;
    opacity: 0;
}
.table-radio-btn td a:hover img.radio-bar {
 opacity: 1;
}
.table-radio-btn td a:focus img.radio-bar {
 opacity: 1 !important;
}

table.control-table tr td img.on-off-btn-common {
 width: 28px;
 margin: 11px;
 display: none !important;
}

.side table.control-table {
 margin-top: 4px;
 position: relative;
 top: -100px;
}
table.control-table tr td {
 padding: 0 !important;
 vertical-align: top;
 margin: 0 !important;
 text-align: center;
}
table.control-table tr{
 border: 0 !important;
}

.radio-bg{
 width: 700px;
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 position: inherit;
 z-index: 999999;
 margin: 0 auto;
}
.radio-bg img.radio-img-bg{
 border-radius: 6px;
 overflow: hidden;
}
.side .radio-bg{
 /* height: 467px; */
 width: 500px !important;
 /* margin: 150px auto !important; */
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 opacity: 1;

 position: absolute;
    bottom: -550px;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.side .radio-bg:hover{
 opacity: 1;
}
.side .radio-bg img.radio-img-bg{
 width: 500px !important;
 position: initial !important;
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.side .table-radio-btn td a img.radio-bar {
 width: 12px !important;
 margin-bottom: 7px !important;
}
.side .table-radio-btn{
 position: relative;
 top: 2px;
 width: 200px;
 margin: 0 auto;
}
.home-banner{
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.side{
 position: relative;
 z-index: 10;
 opacity: 1;
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 width: 85%;
 margin: 15% auto !important;
 top: -250px;
 
}
.side:hover{
 opacity: 1;
}
.side .slogans{
 font-size: 28px !important;
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.years-body{
 position: -webkit-sticky;
 position: sticky;
 display: none;
 /* background: rgba(0, 0, 0, 0.5); */
 /* padding: 15px; */
 border-radius: 6px;
 top: 60px;
 right: 0;
 /* width: 500px; */
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 color: #e8e8e8;
 
}
/* a.years-name {
 font-size: 1rem;
 padding: 10px 0;
 font-weight: 700;
 color: #fff;
 position: absolute;
 left: 0px;
 right: 0px;
 text-align: center;
} */


a.years-name {
    position: absolute;
    text-align: center;
    width: 100px;
    margin: 15px auto;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-radius: 4px;
}
a.years-name:hover{
    text-decoration: none;
    background: rgb(218, 207, 172);
    color: #000;

}

table.title-table {
    position: absolute;
    z-index: 9999;
}

.tab-sec{
    padding: 23px;
    position: absolute;
    top: -100px;
    z-index: 0;
    height: 0;
}
.tab-sec .artis-box:hover{
 background: #000 !important;
 -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
         box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}
.tab-sec .artis-box{
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
}

.tab-sec .artis-box:nth-child(2){
 -webkit-transform: rotate(0deg) translateX(00px) translateY(0px);
     -ms-transform: rotate(0deg) translateX(00px) translateY(0px);
         transform: rotate(0deg) translateX(00px) translateY(0px);
}
.tab-sec .artis-box:nth-child(3){
 -webkit-transform: rotate(-15deg) translateX(-250px) translateY(135px);
     -ms-transform: rotate(-15deg) translateX(-250px) translateY(135px);
         transform: rotate(-15deg) translateX(-250px) translateY(135px);
}
.tab-sec .artis-box:nth-child(4){
 -webkit-transform: rotate(0deg) translateX(-320px) translateY(390px);
     -ms-transform: rotate(0deg) translateX(-320px) translateY(390px);
         transform: rotate(0deg) translateX(-320px) translateY(390px);
}
.tab-sec .artis-box:nth-child(5){
 -webkit-transform: rotate(0deg) translateX(0px) translateY(00px);
     -ms-transform: rotate(0deg) translateX(0px) translateY(00px);
         transform: rotate(0deg) translateX(0px) translateY(00px);
 float: right;
}
.tab-sec .artis-box:nth-child(6){
 -webkit-transform: rotate(15deg) translateX(250px) translateY(134px);
     -ms-transform: rotate(15deg) translateX(250px) translateY(134px);
         transform: rotate(15deg) translateX(250px) translateY(134px);
 float: right;
}
.tab-sec .artis-box:nth-child(7){
 -webkit-transform: rotate(0deg) translateX(-50px) translateY(175px);
     -ms-transform: rotate(0deg) translateX(-50px) translateY(175px);
         transform: rotate(0deg) translateX(-50px) translateY(175px);
 float: right;
}

.box-wrap{
 overflow: auto;
}
.box-wrap::-webkit-scrollbar {
 width: 3px;
}

.box-wrap::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.box-wrap::-webkit-scrollbar-thumb {
background-color: #333333;
outline: 1px solid rgb(0, 0, 0);
}
.artist-title{
 /* text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
              0 20px 20px rgba(0,0,0,.15); */
 margin: 0;
 padding-bottom: 10px;
 font-size: 28px;
}

.artis-box{
 width: 175px;
 background: rgba(0, 0, 0, 0.90);
 border-radius: 6px;
 padding: 10px;
 float: left;
 margin: 5px;
 -webkit-box-shadow: 1px 1px 5px #333;
         box-shadow: 1px 1px 5px #333;
 position: relative;
 opacity: 1;
}

.artis-box:hover{
 opacity: 1;
}

.artist-img {
 height: 140px;
 display: block;
 overflow: hidden;
}

.artis-box img{
 width: 100%;
 border-radius: 3px;
}
.artis-box a{
 text-decoration: none;
 color: #fff;
}
.artis-box h3 span {
    font-size: 10px;
}
.artis-box a:hover{
 text-decoration: none;
 color: red;
}

.artis-box h3{
 font-size: 12px !important;
 margin: 0px;
 padding: 0px;
}
.side img.v-btn {
 width: 50px;
 position: absolute;
 left: 446px;
 top: 308px;
 opacity: 0;
 cursor: pointer;
}
img.v-btn {
 position: absolute;
 left: 241px;
 top: 351px;
 opacity: 1;
}
/* img.v-btn:hover {
 opacity: 1;
} */
.side img.v-btn-lft {
 width: 50px;
 position: absolute;
 right: 444px;
 top: 308px;
 opacity: 0;
 cursor: pointer;
}
.side .big-title {
 margin: 0px;
 padding: 5px 0px;
 position: absolute;
 top: -145px;
 left: 172px;
 font-size: 20px;
}



/* img.v-btn-lft:hover{
 opacity: 1 !important;
} */
img.v-btn-lft {
 position: absolute;
 right: 238px;
 top: 351px;
 opacity: 1;
}
.h2s-b{
 -webkit-animation: h2s 10s infinite linear;
         animation: h2s 10s infinite linear;
 -webkit-animation-delay: 2s;
         animation-delay: 2s;
}
.rotate {
 -webkit-animation: rotation 15s infinite linear;
         animation: rotation 15s infinite linear;
 /* animation-delay: 2s; */
}
@-webkit-keyframes rotation {
 from {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
 }
 to {
     -webkit-transform: rotate(359deg);
             transform: rotate(359deg);
 }
}
@keyframes rotation {
 from {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
 }
 to {
     -webkit-transform: rotate(359deg);
             transform: rotate(359deg);
 }
}
@-webkit-keyframes h2s {
 from {
     opacity: 0;
 }
 to {
     opacity: 1;
 }
}
@keyframes h2s {
 from {
     opacity: 0;
 }
 to {
     opacity: 1;
 }
}
.overly{
    background: rgba(0, 0, 0, 0.0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    height: 100vh;
    position: fixed;
    z-index: 10;
}
.close {
 background: #000;
 position: absolute;
 text-align: center;
 margin: 0 auto;
 right: 0;
 left: 0;
 top: -100px;
 width: 36px;
 height: 36px;
 border-radius: 6px;
 cursor: pointer;
 z-index: 9999;
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 opacity: .25;
}
.close:hover{
 opacity: 1;
}
.logo:hover img{
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
         transform: scale(1.2);
}
.logo img{
 -webkit-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 -webkit-transform: scale(1.0);
     -ms-transform: scale(1.0);
         transform: scale(1.0);
}
.team-item {
 margin-bottom: 25px;
 min-height: 330px;
 background: #19191f;
 padding: 15px;
 -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
         box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.team-item img {
 float: left;
 width: 275px;
 margin-right: 15px;
 border: 1px solid #666666;
}
.team-item h2{
 margin: 0;
 padding: 0;
 font-size: 28px;
}

.team-item p{
 margin: 0;
 padding: 5px 0;
 text-align: justify;
 font-size: 14px;
}

.artist-cap .artist_name{
 font-size: 38px;
 margin-top: 43%;
 font-family: 'Playball', cursive;
}
.artist-cap .artist_name a{
 color: #fff;
 text-shadow: 1px 1px 1px red;
 text-decoration: none;
}

.artist-cap .artist_name a:hover{
 color: red;
 text-shadow: 1px 1px 1px #fff;
 text-decoration: none;
}

.on-off-btn {
 position: absolute;
 bottom: 110px;
 right: 457px;
 width: 22px;
 cursor: pointer;
}

.on-off-btn.off-btn:hover{
 opacity: .3;
}
.on-off-btn-lft{
 position: absolute;
 bottom: 110px;
 left: 460px;
 width: 22px;
 cursor: pointer;
}

.on-off-btn-lft:hover{
 opacity: 1;
}

/* Color text ========================================= */

html,
.color-ink,
.qt-color-text,
.dropDownMenu li li a:hover,
.qt-logo-big-text a,
.qt-btn-ghost,
nav ul a,
nav .input-field label,
.side-nav.fixed ul li.active a,
.side-nav.fixed ul li a,
.side-nav.fixed nav ul li.active a,
.qtwidget input,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary li,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary div,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary a,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary img,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary p,
.qt-btn-ghost,
.qt-btn-ghost,
a.qt-btn-ghost,
a.btn.qt-btn-ghost,
a.qt-btn-ghost.btn-large,
.woocommerce a.qt-btn-ghost.button,
.btn.transparent,
.qt-title a,
.qt-content .tabs .tab a,
.qt-vs-nav li a {
    color: #E8E8E8;
}

.qt-color-main-light,
.negative,
.qt-footer-widgets-container,
.negative .qt-title a {
    color: #24242D
}

.bg-accent,
.accentcolor,
.side-nav a,
.side-nav a:hover,
.qt-content .qt-pagination.active a,
.btn,
.btn:hover,
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
    color: #FFFFFF;
}

a,
.color-accentcolor,
.tagcloud a:hover,
.qt-tags a:hover,
.widget .tagcloud a:hover,
.side-nav.fixed a:hover,
.dropdown-content li > a,
.dropdown-content li > span {
    color: #DE2341;
}

.color-main-light {
    color: #979eb2;
}

a:hover,
.qt-content .tabs .tab a:hover,
.qt-vs-nav li a:hover {
    color: #CA002A;
}

footer.qt-footer {
    color: #dedede;
}
/* Background ========================================= */

html,
.qt-paper,
.side-nav .collapsible-body li.active a,
.side-nav.fixed .collapsible-body li.active a,
.qt-color-main-dark,
.qtwidget input,
.qt-scrolled .qw-animatedheader,
.qt-scrolled nav.qt-site-navbar,
.qt-scrolled nav.qt-site-navbar .qw-nav-desktop,
.mc4wp-form {
    background-color: #24242D;
}

nav.qt-site-navbar {
    background-color: transparent;
}

.qt-color-main-light,
::-webkit-scrollbar-thumb {
    background-color: #979eb2;
}

.negative,
.qt-owlcarousel.owl-carousel.owl-theme .owl-dots .owl-dot,
.tabs-selector .tabs#qwShowSelector::after,
.flip-clock-dot,
.qt-stroke,
.qt-vs-triplelayout .qt-vs-nav li .qt-linktit::before {
    background-color: #E8E8E8;
}

a.btn,
.pagination li a.active,
.accentcolor,
.bg-accent,
.slider .indicators .indicator-item.active,
.btn,
.side-nav a:hover,
.side-nav li:hover,
.side-nav.active,
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active,
.qt-tripleview-contentainer .qt_next_post_image .label-tooltip,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item::after,
.qt-owlcarousel.owl-carousel.owl-theme .owl-dots .owl-dot.active,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field .prefix.active,
.flip-clock-wrapper ul li a div div.inn,
.js .qt-titdeco-eq::after,
.js .qt-titdeco-eq::before,
.qt-titdeco-eq::after,
.qt-titdeco-eq::before,
.qteq,
.qteq::after,
.qteq::before,
nav#qwMainNavbar .nav-wrapper ul.dropDownMenu > li::after,
nav#qwMainNavbar .nav-wrapper ul.dropDownMenu > li.mega-menu-item::after,
nav#qwMainNavbar .nav-wrapper ul.mega-menu > li::after,
nav#qwMainNavbar .nav-wrapper ul.mega-menu > li.mega-menu-item::after,
.qt-icon-nav li a:hover,
.qt-titdeco::after,
.qt-artist h1.qt-title::after,
h1.qt-titdeco::after,
.woocommerce a.button,
.qt-woocommerce-content .tabs .tab a.active,
.qt-author-infobox .qt-authorinfo::before,
.tabs-selector .tabs#qwShowSelector .indicator,
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
    background-color: #DE2341;
}

#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu,
.btn:hover,
.qt-extra-contents,
footer.qt-footer,
footer.qt-footer .qt-link-top.qt-btn-ghost,
footer.page-footer,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu,
.qt-footer-widgets-container,
.qt-color-darker {
    background-color: #121212;
}

.qt-related-section {
    background-color: #0C0C0C;
}

.btn:hover,
.btn-large:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
a.accentcolor:hover,
input.accentcolor:hover,
.qt-tripleview-contentainer .qt_next_post_image:hover {
    background-color: #CA002A;
}

footer.qt-footer,
footer.qt-footer .qt-link-top.qt-btn-ghost {
    background-color: #101010;
}

.qt-footer-widgets-container {
    background-color: #121212;
    color: #cdcdcd;
}

.sm2-360ui::after {
    background-color: rgba(36, 36, 45, 0.15)
}
/* Borders =========================================*/

blockquote,
.comments-area .children,
.qt-content table td,
.qt-content table th,
.qt-content table tr:first-child,
.comment-form input[type="text"],
.comment-form textarea,
.comments-area .qt-commentheader,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item h4.mega-block-title,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-item-has-children > a.mega-menu-link,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-item-has-children li a.mega-menu-link {
    border-color: #979eb2;
    border: 0;
}

input[type="text"]:focus,
textarea:focus,
footer.qt-footer,
.qt-border,
.qt-bordered,
.qt-border-color-ink,
.ghost,
i.qt-icon-rhombus,
i.qt-vs-icon-rhombus,
.qt-btn-ghost,
.qt-btn-ghost,
a.qt-btn-ghost,
a.btn.qt-btn-ghost,
a.qt-btn-ghost.btn-large,
.woocommerce a.qt-btn-ghost.button,
.widget .tagcloud a,
.qt-woocommerce-content .tabs .tab a,
i.qt-vs-icon-rhombus::after,
.woocommerce-cart table.cart td.actions .coupon .input-text {
    border-color: #E8E8E8;
}

.tagcloud a:hover,
.qt-tags a:hover,
.widget .tagcloud a:hover,
#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu,
blockquote,
.qt-border-accent,
.ghost-accentcolort,
.qt-metas a,
.comments-area .comment-reply-link,
.tagcloud a:hover,
.qt-tags a:hover,
.widget .tagcloud a:hover,
.qt-comments-section .qt-reading-opt,
.qt-comments-section #comments.comments-area,
.sm2-360ui::after {
    border-color: #DE2341 !important;
}

.qt-owlcarousel.owl-carousel.owl-theme.eventscarousel .qt-figure.event figure figcaption .qt-dateblock::after {
    border-color: transparent transparent #DE2341 transparent;
}

textarea.materialize-textarea:focus:not([readonly]),
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #fff;
}

#qtBody #qwMainNavbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children::before,
.dropDownMenu > li.menu-item-has-children::before,
.qt-content .qt-post-content .qt-reading-opt,
.qt-archive .qt-title {
    border-color: #DE2341 transparent transparent transparent;
}

.qt-metas a:hover,
.comment-reply-link:hover {
    border-color: #CA002A;
}
/* Gradients =========================================*/

.dropDownMenu li li a {
    background-image: -webkit-linear-gradient(to right, #DE2341 34%, #30343d 65%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(34%, #DE2341), color-stop(65%, #30343d));
    background-image: -webkit-linear-gradient(left, #DE2341 34%, #30343d 65%);
    background-image: -o-linear-gradient(left, #DE2341 34%, #30343d 65%);
    background-image: linear-gradient(to right, #DE2341 34%, #30343d 65%);
}
/* 
.qt-fade-to-paper,
.qt-featuredimage-container::after,
.qt-featuredimage::after,
.qt-vc-fadetopaper::after {
    background: -webkit-linear-gradient(transparent, #24242D);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#24242D));
    background: -o-linear-gradient(transparent, #24242D);
    background: linear-gradient(transparent, #24242D);
}

.qt-fade-to-paper.reversed {
    background: -webkit-linear-gradient( #24242D, transparent);
    background: -webkit-gradient( linear, left top, left bottom, from(#24242D), to(transparent));
    background: -o-linear-gradient( #24242D, transparent);
    background: linear-gradient( #24242D, transparent);
}

.qt-fade-to-paper.dark {
    background: -webkit-linear-gradient(rgba(36, 36, 45, 0.3), #24242D);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba($color-paper, 0.3)), to(#24242D));
    background: -webkit-linear-gradient(rgba($color-paper, 0.3), #24242D);
    background: -o-linear-gradient(rgba($color-paper, 0.3), #24242D);
    background: linear-gradient(rgba($color-paper, 0.3), #24242D);
}

a:hover .qt-fade-to-paper {
    background: -webkit-linear-gradient( rgba(36, 36, 45, 0.2), #24242D);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 36, 45, 0.2)), to(#24242D));
    background: -webkit-linear-gradient(rgba(36, 36, 45, 0.2), #24242D);
    background: -o-linear-gradient(rgba(36, 36, 45, 0.2), #24242D);
    background: linear-gradient(rgba(36, 36, 45, 0.2), #24242D);
}

.qw-imgfx::after,
.qt-figure figure::after {
    background: -webkit-linear-gradient(transparent, #DE2341);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#DE2341));
    background: -o-linear-gradient(transparent, #DE2341);
    background: linear-gradient(transparent, #DE2341);
}

.qt-preloader {
    background: -webkit-linear-gradient(rgba(36, 36, 45, 0.4), rgba(0, 196, 137, 0.7));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 36, 45, 0.4)), to(rgba(0, 196, 137, 0.7)));
    background: -o-linear-gradient(rgba(36, 36, 45, 0.4), rgba(0, 196, 137, 0.7));
    background: linear-gradient(rgba(36, 36, 45, 0.4), rgba(0, 196, 137, 0.7));
} */
/* Animations =========================================*/

@-webkit-keyframes anim-trinculo {
    50% {
        opacity: 0;
        color: #E8E8E8;
        -webkit-transform: translate3d(0, -50%, 0);
                transform: translate3d(0, -50%, 0);
    }
    51% {
        opacity: 0;
        color: #E8E8E8;
        -webkit-transform: translate3d(0, 30%, 0);
                transform: translate3d(0, 30%, 0);
    }
    75% {
        opacity: 1;
        color: #DE2341;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        color: #DE2341;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-trinculo {
    50% {
        opacity: 0;
        color: #E8E8E8;
        -webkit-transform: translate3d(0, -50%, 0);
                transform: translate3d(0, -50%, 0);
    }
    51% {
        opacity: 0;
        color: #E8E8E8;
        -webkit-transform: translate3d(0, 30%, 0);
                transform: translate3d(0, 30%, 0);
    }
    75% {
        opacity: 1;
        color: #DE2341;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        color: #DE2341;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

.qt-featuredimage-container .qt-featuredimage {
    opacity: 1
}

/* .vc_custom_1471955678046 {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
} */

.vc_custom_1471867605109 {
    margin-bottom: 80px !important;
}

.vc_custom_1471957129197 {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    background-color: #181d2b !important;
}

.vc_custom_1527252641016 {
    padding-top: 100px !important;
    padding-bottom: 90px !important;
    background-color: #a0002a !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1472056664810 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.vc_custom_1471961383010 {
    padding-top: 50px !important;
    padding-bottom: 80px !important;
    background-color: #191a21 !important;
}

.vc_custom_1471963021253 {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.vc_custom_1472058856276 {
    padding-top: 5% !important;
    padding-bottom: 9% !important;
    background-color: #00c489 !important;
}

.vc_custom_1471962942275 {
    padding-bottom: 5% !important;
}

.vc_custom_1471026928034 {
    padding-top: 50px !important;
    padding-bottom: 180px !important;
    background-color: #161616 !important;
}

.vc_custom_1471867501910 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.vc_custom_1471963326131 {
    background-image: url(assets/img/artist.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1471867571636 {
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
    background-color: #0a0103 !important;
}

.vc_custom_1471963438655 {
    margin-top: 25% !important;
}

.vc_custom_1471963481950 {
    padding-top: 50px !important;
}

.vc_custom_1471957580382 {
    padding-right: 5% !important;
    padding-left: 5% !important;
}

.vc_custom_1471957745993 {
    padding-right: 6% !important;
    padding-left: 6% !important;
}

.vc_custom_1471963792311 {
    padding-top: 50px !important;
}

.vc_custom_1471170555538 {
    margin-top: 50px !important;
}

.vc_custom_1472057072405 {
    margin-top: 50px !important;
}

.vc_custom_1471963698705 {
    padding-top: 50px !important;
}

.vc_custom_1471878508277 {
    padding-top: 60px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    *background-color: rgb(0, 0, 0) !important;
}

.vc_custom_1471878706496 {
    padding-top: 60px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    *background-color: rgb(0, 0, 0) !important;
}

.vc_custom_1471878724519 {
    padding-top: 60px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    *background-color: rgb(0, 0, 0) !important;
}

.vc_custom_1471878740151 {
    padding-top: 60px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    *background-color: rgb(0, 0, 0) !important;
}

.vc_custom_1471878472722 {
    margin-top: 50px !important;
}

.vc_custom_1471879611122 {
    margin-top: 50px !important;
}

.vc_custom_1471879646401 {
    margin-top: 50px !important;
}

.vc_custom_1471955873341 {
    margin-top: 50px !important;
}

.vc_custom_1465688252761 {
    padding-top: 30px !important;
}

.vdl-subpages-item a .detail .title {
    font-size: 13px;
}

.vdl-subpages-item a .detail {
    padding-top: 45px !important;
}

.vdl-subpages-container ul.vdl-subpages-tagcloud li a {}

.vdl-subpages-container ul.vdl-subpages-tagcloud li a:hover {}
.on-off-btn-common{
    display: none;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    
    .artist-img {
        height: 130px !important;
    }
    .artis-box h3 {
        font-size: 10px !important;
    }
    
    .nav-menu{
        display: none;
        height: auto;
        /* margin: 0 70px; */
        margin-top: 70px;
        background: transparent !important;
        padding-left: 0px !important;
    }

    .nav-menu ul{
        padding: 0;
        margin: 0;
    }
    .nav-menu ul li{
        width: 100% !important;
    }
    .nav-menu ul li a{
        width: 100%;
        background: rgba(0, 0, 0, 1);
        padding: 5px 15px !important;
        border-bottom: 1px solid #333;
    }

    a#logo-container img {
        width: 76px !important;
    }
    .search-sec{
        padding: 5px !important;
    }
    .radio-bg{
        opacity: 1;
    }
    .logo{
        width: 75px;
    }
    a#logo-container{
        height: 75px !important;
    }
    .radio-bg img.radio-img-bg {
         width: 286px;
         top: 370px;
         opacity: 1;
     }
     .radio-bg{
         width: auto;
     }
     .table-radio-btn {
        top: 119px;
        width: 115px;
        margin: 0 auto !important;
     }
     .table-radio-btn td a img.radio-bar {
         width: 10px !important;
         margin-bottom: 3px;
     }
     .tab-sec {
         padding: 0;
         top: 135px;
     }
     .artis-box {
         width: 47%;
         border-radius: 6px;
         padding: 6px;
         margin: 1%;
         opacity: 1;
     }
     .tab-sec .artis-box{
         -webkit-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
             -ms-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
                 transform: rotate(0deg) translateX(00px) translateY(0px) !important;
         float: left !important;
     }
     
     .home-banner {
         margin-top: 100px !important;
     }
     .side .radio-bg{
         width: 286px !important;
         height: 147px;
         margin: 0px auto !important;
         top: 15px;
     }
     .side .big-logo {
         width: 55px !important;
     }
     .side .radio-bg img.radio-img-bg {
         width: 286px !important;
         opacity: 1;
     }
     .side .table-radio-btn {
        top: -61px;
        width: 112px;
     }
     .side .table-radio-btn td a img.radio-bar {
         width: 10px !important;
         margin-bottom: 2px !important;
     }
     .main-sec {
         min-height: 900px !important;
     }
     .on-off-btn {
         top: -65px;
         left: 57px;
         width: 21px;
         position: relative;
     }
     .on-off-btn-lft {
         top: -60px;
         left: 284px;
         width: 20px;
     }

     .qw-headernav {
         background: #222;
     }

     /* old */
     a.years-name-res {
         display: none !important;
         color: #fff;
         background: rgba(0, 0, 0, 0.50);
         -webkit-box-shadow: 1px 1px 3px #333;
                 box-shadow: 1px 1px 3px #333;
         margin: 0px 6px 15px;
         padding: 0px;
         font-weight: 700;
     }
     h5.slogan.title-home {
         float: left;
         width: 80%;
         padding: 0;
     }
     .title-table tr td{
         padding: 0 !important;
     }
     .qt-polydecor-page.qt-polydecor-composer {
         /* margin-top: -50px; */
     }
     .qt-headerbar {
         z-index: 99;
     }
     .control-btn {
         position: absolute;
     }
     .menu-title {
        padding: 18px !important;
        font-size: 32px !important;
        padding-left: 85px !important;
    }
    .nav-menu {
        left: 5px !important;
        top: 0px !important;
    }
    .logo2{
        text-align: center;
    }
    .logo2 img {
        width: 250px !important;
        width: 250px !important;
    margin: 0 auto !important;
    }
    .side table.control-table {
        top: -4px;
    }
    a.years-name {
        margin: 0px auto;
        left: -26px;
        top: -60px;
    }
    .bottom-title h2 {
        margin-top: 50px !important;
        text-align: center;
    }
    a.qt-btn-rhombus.qt-btn-ghost.qt-link-top.qwsmoothscroll {
        display: none;
    }
    .col-4{
        width: 99%;
        margin: .5%;
        float: left;
    }
}

.artis-box h3 {
    font-size: 14px;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 991.98px) { 
    a#logo-container img {
        width: 76px !important;
    }
    .search-sec{
        padding: 5px !important;
    }
    .col-4{
        width: 99%;
        margin: .5%;
        float: left;
    }
    .nav-menu{
        display: none;
        height: auto;
        /* margin: 0 70px; */
        margin-top: 70px;
        background: transparent !important;
        padding-left: 0px !important;
    }

    .nav-menu ul{
        padding: 0;
        margin: 0;
    }
    .nav-menu ul li{
        width: 100% !important;
    }
    .nav-menu ul li a{
        width: 100%;
        background: rgba(0, 0, 0, 1);
        padding: 5px 15px !important;
        border-bottom: 1px solid #333;
    }

    a.qt-btn-rhombus.qt-btn-ghost.qt-link-top.qwsmoothscroll {
        display: none;
    }
    .radio-bg{
        opacity: 1;
    }
    .logo{
        width: 75px;
        
    }
    .logo2{
        margin: 0 auto;
        text-align: center;    
        
    }
    a#logo-container{
        height: 75px !important;
    }
    .radio-bg img.radio-img-bg {
         width: 360px;
         top: 370px;
         opacity: 1;
     }
     .radio-bg{
         width: auto;
     }
     .table-radio-btn {
         width: 140px;
         margin: 0 auto !important;
     }
     .table-radio-btn td a img.radio-bar {
         width: 10px !important;
         margin-bottom: 3px;
     }
     .tab-sec {
         padding: 0;
         top: 100px;
     }
     .artis-box {
         width: 47%;
         border-radius: 6px;
         padding: 6px;
         margin: 1%;
         opacity: 1;
     }
     .tab-sec .artis-box{
         -webkit-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
             -ms-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
                 transform: rotate(0deg) translateX(00px) translateY(0px) !important;
         float: left !important;
     }
     .artis-box h3 {
         font-size: 14px !important;
     }
     
     .side .radio-bg{
         width: 360px !important;
         height: 147px;
         margin: 0px auto !important;
         bottom: -150px !important;
     }
     .side .big-logo {
         width: 55px !important;
     }
     .side .radio-bg img.radio-img-bg {
         width: 334px !important;
         opacity: 1;
     }
     .side .table-radio-btn {
         top: -67px;
         width: 130px;
     }
     .side .table-radio-btn td a img.radio-bar {
         width: 10px !important;
         margin-bottom: 2px !important;
     }
     .main-sec {
         min-height: 900px !important;
     }
     .on-off-btn {
         top: -65px;
         left: 57px;
         width: 21px;
         position: relative;
     }
     .on-off-btn-lft {
         top: -60px;
         left: 284px;
         width: 20px;
     }
    
     .qw-headernav {
         background: #222;
     }

     /* old */
     a.years-name-res {
         display: none !important;
         color: #fff;
         background: rgba(0, 0, 0, 0.50);
         -webkit-box-shadow: 1px 1px 3px #333;
                 box-shadow: 1px 1px 3px #333;
         margin: 0px 6px 15px;
         padding: 0px;
         font-weight: 700;
     }
     h5.slogan.title-home {
         float: left;
         width: 80%;
         padding: 0;
     }
     .title-table tr td{
         padding: 0 !important;
     }
     .qt-polydecor-page.qt-polydecor-composer {
         /* margin-top: -50px; */
     }
     .qt-headerbar {
         z-index: 99;
     }
     .control-btn {
         position: absolute;
     }
     .menu-title {
        padding: 20px !important;
        font-size: 32px !important;
        padding-left: 90px !important;
    }
    .nav-menu {
        left: 15px !important;
        top: 10px !important;
    }
    .logo2 img {
        width: 150px !important;
        margin: 0 auto !important;
    }
    .side table.control-table {
        top: -4px;
    }
    a.years-name {
        margin: 0px auto;
        left: -26px;
        top: 5px;
    }
    .bottom-title h2 {
        margin-top: 34px !important;
        font-size: 18px !important;
    }
}
/* // Medium devices (tablets, 768px and up) */
/* 
    @media (min-width: 768px) and (max-width: 991.98px) { 
.col-4{
        width: 49%;
        margin: .5%;
        float: left;
    }
    a.years-name {
        top: 46px;
    } */
    
    /* .radio-bg{
        width: auto;
        opacity: 1;
    }
    .radio-bg img.radio-img-bg {
        width: 100% !important;
        width: 600px !important;
        margin: 0 auto;
    }
    .side .table-radio-btn {
        position: absolute;
        top: 3px;
        width: 192px;
    }
    .side.home-banner {
        margin-top: 250px !important;
    }
    .side .radio-bg {
        margin: -100px auto !important;
        opacity: 1;
        top: 0px !important;
    }
    .table-radio-btn {
        position: absolute;
        top: 207px;
        width: 233px;
        margin: 0 auto !important;
    }
    .home-banner {
        margin-top: 150px !important;
    } */
    /* .tab-sec {
        padding: 0;
        top: 60px;
    }
    .artis-box {
        width: 31%;
        border-radius: 6px;
        padding: 6px;
        margin: 1%;
        opacity: 1;
    }
    .tab-sec .artis-box{
        -webkit-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
            -ms-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
                transform: rotate(0deg) translateX(00px) translateY(0px) !important;
        float: left !important;
    }
    .carousel-caption h5 {
        font-size: 36px !important;
        padding: 5px !important;
    }
    .res-slide{
        margin-left: 10% !important;
    }
    .logo2 img {
        width: 300px !important;
    }
    } */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .col-4{
        width: 49%;
        margin: .5%;
        float: left;
    }
    .bottom-title h2 {
        margin-top: 55px !important;
    }
    .table-radio-btn {
        /* margin: 0 auto; */
    }
    .radio-bg{
        /* width: auto !important; */
        opacity: 1;
    }
    .side .radio-bg {
        margin: -40px auto !important;
        opacity: 1; 
        top: 0 !important;
    }
    .tab-sec {
        padding: 0;
        top: 100px;
    }
    .artis-box {
        width: 31%;
        border-radius: 6px;
        padding: 6px;
        margin: 1%;
        opacity: 1;
    }
    .tab-sec .artis-box{
        -webkit-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
            -ms-transform: rotate(0deg) translateX(00px) translateY(0px) !important;
                transform: rotate(0deg) translateX(00px) translateY(0px) !important;
        float: left !important;
    }
    .carousel-caption h5 {
        font-size: 36px !important;
        padding: 5px !important;
    }
    .res-slide{
        margin-left: 10% !important;
    }
    .logo2 img {
        width: 300px !important;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1330px) { 
    .tab-sec .artis-box:nth-child(6) {
        -webkit-transform: rotate(15deg) translateX(0px) translateY(0px) !important;
        -ms-transform: rotate(15deg) translateX(0px) translateY(0px) !important;
        transform: rotate(15deg) translateX(0px) translateY(0px) !important;
        float: right;
    }
    .tab-sec .artis-box:nth-child(7) {
        -webkit-transform: rotate(0deg) translateX(130px) translateY(175px) !important;
        -ms-transform: rotate(0deg) translateX(130px) translateY(175px) !important;
        transform: rotate(0deg) translateX(130px) translateY(175px) !important;
        float: right;
    }

    
 }
 @media (min-width: 1200px){
    .col-4{
        width: 32%;
        margin: .5%;
        float: left;
        display: flex;
    }
 }



a.years-name-res{
    display: none;
}
.title-table tr td{
         padding: 0 !important;
     }
 .about-header {
     
     background: url('../img/about.jpeg') bottom;
     background-size: cover;
     height: 550px;
     /* clip-path: polygon(100% 0, 100% 95%, 50% 70%, 0% 95%, 0 0); */
 }
 .page-bg {
     background: url('../img/home-bg-space1.jpg');
     padding-bottom: 125px;
     padding-top: 100px;
 }
/* Style the video: 100% width and height to cover the entire window */
.video-con {
    position: fixed;
    top: -75px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1466px;
}
/* Style the button used to pause/play the video */

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.8;
    }
    40% {
        -webkit-transform: scale(0.6);
                transform: scale(0.6);
        opacity: 0.6;
    }
    60% {
        -webkit-transform: scale(0.4);
                transform: scale(0.4);
        opacity: 0.4;
    }
    80% {
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}

@keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.8;
    }
    40% {
        -webkit-transform: scale(0.6);
                transform: scale(0.6);
        opacity: 0.6;
    }
    60% {
        -webkit-transform: scale(0.4);
                transform: scale(0.4);
        opacity: 0.4;
    }
    80% {
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}

.SearchActive {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
}

.radio-buttons {
    opacity: 0.4;
    margin-top: 8%;
}

.carousel-cell {
     margin-bottom: 100px;
 }
.artist-cap-box{
    background: #00c489 !important;
    padding: 15px;
}
.artist-cap-box .artist_name{
     padding: 0px;
     margin: 0px;
}
.artist-cap-box .description-box{
     padding: 0px;
     margin: 0px;
}
/* #videoSec {
     clip-path: polygon(100% 0, 100% 95%, 50% 70%, 0% 95%, 0 0);
     padding-bottom: 100px !important;
 } */
.form-submit-button-simple_rose{
    padding: 10px 25px;
}
.hidden {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: bounceOut;
            animation-name: bounceOut;
    visibility: hidden;
}
.slogan{
     padding-left: 175px;
}
.slogan-side{
     padding-left: 10px !important;
 }

.slogans {
    text-align: center;
    font-size: 36px;
    margin-top: 25px;
}
.carousel-cell {
 margin-bottom: 100px;
 width: 90%;
 margin: 5%;
}
.brand-logo {
    /* height: 400px !important; */
    z-index: 2;
}

#logo-container {
    height: 160px;
    position: fixed;
    z-index: 23;
}

.stroke {
    z-index: -1;
}

.logo {
    float: left;
}

#fig1:hover {
    background-color: teal !important;
    opacity: 0.7;
}

#fig2:hover {
    background-color: gold !important;
    opacity: 0.7;
}

#fig3:hover {
    background-color: blue !important;
    opacity: 0.7;
}

.imageMap {
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    z-index: 1;
}

.mapify-hover {
    fill: rgba(0, 0, 0, 0.5);
    stroke: #fff;
    stroke-width: 2;
}

.customRed {
    fill: rgba(200, 0, 0, 0.5);
    stroke: rgba(200, 200, 200, 0.8);
    stroke-width: 2;
    opacity: 1;
}

.customGreen {
    fill: cyan;
    stroke: rgba(200, 200, 200, 0.8);
    stroke-width: 2;
    opacity: 0.5;
}

.customTeal {
    fill: teal;
    stroke: rgba(200, 200, 200, 0.8);
    stroke-width: 2;
    opacity: 0.5;
}

.customBlue {
    fill: blue;
    stroke: rgba(200, 200, 200, 0.8);
    stroke-width: 2;
    opacity: 0.5;
}

.customYellow {
    fill: yellow;
    stroke: rgba(200, 200, 200, 0.8);
    stroke-width: 2;
    opacity: 0.5;
}

a#logo-container img {
    width: 250px;
    left: -3px;
    padding-left: 7px;
}
.home-banner{
  margin-top: 90px;
  text-align: center;
  /* margin-bottom: 15%; */
  /* height: 250px; */
}
.home-banner .slogans{
  margin-bottom: 5%;
}
 .qt-gridstackCarousel-container .slide{
     display: none !important;
 }

 .qt-gridstackCarousel-container:hover .slide{
     display: block !important;
 }
 .carousel-item{
     cursor: pointer;
 }

 .carousel-cell p {
    margin-top: -10px;
    background: #24242d;
    text-align: center;
    color: #fff;
}
h3.artist_name{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}
.carousel-cell a{
    height: 550px;
    display: block;
}
.carousel-cell a:hover{
    text-decoration: none;
}

a.qt-btn-rhombus.qt-btn-ghost.qt-link-top.qwsmoothscroll {
    position: fixed;
    z-index: 999;
    right: 32px;
    bottom: 32px;
    display: none;
}

.logo2 {
    margin: 0 auto;
    text-align: center;
    display: none;
}
.logo2 img{
    width: 425px;
    margin: 0 auto;
    opacity: .75;
}
.bottom-title h2{
    color: #00d9ff;
    font-size: 24px;
    font-style: italic;
    text-shadow: 1px 3px 5px #2196F3;
    margin-top: 125px;
    font-weight: 400;
}
.nav-sec {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 21;
    height: 70px;
}

.menu-title {
    color: #fff;
    text-shadow: 0px 0px 10px #2196F3;
    padding: 23px;
    font-weight: 900;
    cursor: pointer;
    font-size: 23px;
    line-height: 26px;
    padding-left: 280px;
    padding-right: 0;
    position: fixed;
    z-index: 22;
}
.menu-title:hover{
    text-shadow: 0px 0px 5px #2196F3;
}
.nav-menu {
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 310px;
}
.nav-menu ul{
    margin: 0px;
    padding: 0px;
}
.nav-menu ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.nav-menu ul li a {
    display: block;
    padding: 20px 8px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.nav-menu ul li:last-child a{
    /* border-bottom: 3px solid #fff; */
}
.nav-menu ul li a:hover{
    color: #00d9ff;
}
.main-sec {
    height: 100vh !important;
}
/* span.res-menu {
    font-size: 18px;
    line-height: normal;
} */
.decor2, .decor1 {
    display: none !important;
}
.search-sec {
    display: none;
    padding: 15px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.search-sec input[type=search]{
    text-align: center !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 28px;
    width: 100%;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s
}
.nav-sec table{
    width: 75px !important;
}
.nav-sec table tr td {
    padding: 0px 5px;
}
.team-img img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
li.float-left {
    float: right !important;
}
.src-field{
    background: transparent !important;
    border: 1px solid #ffffff !important;
    padding: 3px 10px !important;
    font-size: 16px !important;
    transition: all .5s ease-in-out;
    width: 180px !important;
    border-radius: 10px !important;
    height: 25px !important;
}

.src-field:focus, .src-field:hover{
    width: 220px !important;
    transition: all .5s ease-in-out;
    border: 1px solid #ffffff;
}
span.search {
    width: auto !important;
    display: block;
    padding: 16px;
}
span.search button{
    background: transparent !important;
    border: 1px solid transparent;
}
.about-video-sec {
    background: #09060f;
    padding: 75px 0;
}
a.qw_social.qw-disableembedding {
    font-size: 14px;
    border: 1px solid;
    text-align: center;
    height: 28px;
    width: 28px;
    display: inline-block;
    border-radius: 50%;
}
.fa-angle-left.rotate-icon{
    transform: rotate(-45deg);
    font-size: 24px !important;
    margin: -5px;
}
.fa-angle-right.rotate-icon{
    transform: rotate(-45deg);
    font-size: 24px !important;
    margin: -5px;
}
.rotate-45{
    transform: rotate(-45deg)
}
.owl-caption-sec h5{
    font-size: 16px;
    margin: 0px;
}

.owl-caption-sec p{
    font-size: 14px;
}
h3.qt-titdeco{
    font-size: 16px !important;
    letter-spacing: inherit;
}
.signup-page{
    text-align: center;
}
.subscribe_form{
    border-radius: 10px;
    max-width: 768px;
    margin: 0 auto !important;
}
.choose-era{
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
}


@font-face {
    font-family: 'BellBottom';
    src: url('../font/era/Belbottom.ttf')  format('truetype');
    src: url('../font/era/Belbottom.woff')  format('woff');
}

@font-face {
    font-family: 'Dreamland';
    src: url('../font/era/dreamland.ttf')  format('truetype');
    src: url('../font/era/dreamland.woff') format("woff");
}

@font-face {
    font-family: 'Remachine';
    src: url('../font/era/RemachineScript.ttf')  format('truetype');
    src: url('../font/era/RemachineScript.woff')  format('woff');
}

@font-face {
    font-family: 'Cowboy';
    src: url('../font/era/Cowboy.ttf')  format('truetype');
    src: url('../font/era/Cowboy.woff')  format('woff');
}

@font-face {
    font-family: 'Xtreem';
    src: url('../font/era/XtreemMedium.ttf')  format('truetype');
    src: url('../font/era/XtreemMedium.woff')  format('woff');
}

.fifty-f{
    font-family: 'Remachine' !important;
    font-size: 80px !important;
}

.sixty-f{
    font-family: 'BellBottom' !important;
    font-size: 58px !important;
}

.seventy-f{
    font-family: 'Dreamland' !important;
    font-size: 42px !important;
}

.eighty-f{
    font-family: 'Xtreem' !important;
    font-size: 50px !important;
}

.ninty-f{
    font-family: 'cursive' !important;
    font-size: 38px !important;
}
